body, html {
    height: 100%;
}
  
  body {
    background: rgb(250, 254, 255);
}

.banner {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("../images/portfolio-banner.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.banner-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 80px;
}

.banner-subtitle {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
}

.nav {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    background-image: linear-gradient(-90deg, rgb(118, 235, 177), rgb(150, 232, 235),  rgb(148, 246, 250), rgb(231, 197, 154), rgb(230, 179, 118));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0);
    border-bottom: 3px solid rgb(60, 47, 38);
    border-top: 3px solid rgb(60, 47, 38);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.nav-link {
    padding: 1rem 5rem;
    color: rgb(62, 43, 36);
}

.space {
    height: 1000px;
}

.contact-section {
    background-image: linear-gradient(-90deg, rgb(118, 235, 177), rgb(150, 232, 235),  rgb(148, 246, 250), rgb(231, 197, 154), rgb(230, 179, 118));
    height: 300px;
    border-top: 3px solid rgb(60, 47, 38);
}

.contact-items {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contact-items a {
    margin: 200px 10px 0px 10px;
}

.contact-items img {
    width: 40px;
    height: 40px;
}

.icon:hover {
    transform: scale(1.1, 1.1);
}

.icon:active {
    transform: scale(0.9, 0.9);
}

.footer {
    text-align: center;
    margin-top: 18px;
    color: rgba(60, 47, 38, 0.534);
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: bold;
}